<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Generate Monogram</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mono/generate.css' %}">
</head>
<body>
<div id="wrapper">

    {% if initials %}
    <p>{{ initials }}</p>
    {% else %}
    <p>No initials given.</p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
    </form>

    <img src="{{ image }}" id="image_result">

</div>
</body>
</html>